* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh; /*Altura*/
    width: 100vw; /*Largura*/
    display: flex; /*centralizar*/
    justify-content: center; /*Alinha no eixo vertical*/
    align-items: center; /*Alinha no eixo horizontal*/
    background-image: url(https://1.bp.blogspot.com/-_IDYsPAYh0o/Xc8XhgzIEmI/AAAAAAAAfIw/T75S0uCIbvcN1nJPUo2e0R0pSslbwdvxACLcBGAsYHQ/s2560/canary-islands-4k-hg-2560x1440.jpg);

}

.caixa-maior {
    background-color: black; /*fundo da caixa*/
    opacity: 0.9; /*opacidade da caixa*/
    border-radius: 25px; /*deixa as bordas arredondadas*/
    padding: 20px; /*espaço entre os componentes*/
    width: 95%; /*em telas menores, ele atinge 95% da tela*/
    max-width: 450px; /*em telas maiores, ele assume um tamanho maior*/
}

.input-cidade {
    border: none; /*tira a borda*/
    outline: none; /*tira a linha automatica do google (outline)*/
    padding: 10px;
    border-radius: 25px;
    font-size: 18px; /*aumenta o tamanho da fonte*/
    background-color: #7c7c7c2b; /*cor de fundo*/
    color: #ffffff; /*cor das letras*/
    width: calc(100% - 100px); /*faz um calculo para ocupar todo o espaço disponivel (100%) menos 100px*/
}

.botao-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px; /*insere bordas ao elemento*/
    background-color: #7c7c7c2b;
    cursor: pointer; /*faz com que o cursor mude ao passar por cima do botao*/
    float: right; /*coloca o elemento totalmente para a direita */
}

.busca {
    width: 20px;
}

.caixa-media {
    margin-top: 35px; /*distancia o elemento do topo */
}

.cidade {
    color: #ffffff; /*muda a cor das letras*/
    font-size: 25px; /*muda o tamanho das letras*/
    font-weight: 300; /*finura das letras*/
}

.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize; /*sempre deixar a 1° letra maiúscula*/
}

.umidade {
    color: #ffffff;
    margin-top: 20px;
}